.page {
    height: 80vh;
    display: flex;
    flex-direction: column;

    h1,h2,h5 {
        text-align: center;
    }

    h1 {
        margin-top: 12%;
        color: #796b6d;
    }

    h2{
        color: #A6A2A2;
    }

    h5 {
        margin-top: 3%;
        color: #796b6d;
    }

    .btn {
        font-size: 18px;
        background-color: #A6A2A2;
        width: 20%;
        margin: 0 auto;
        margin-top: 1%;
        color: #E5E6E4;
    }
    
    .btn:hover {
        background-color: #796b6d;
        color: white;
    }
}

.navbar {
    background-color: #E5E6E4;
    padding: 10px;
    .btn {
        font-size: 16px;
        background-color: none;
        color: #796b6d;
        padding-right: 20px;
        padding-left: 20px;
        border: none;
    }
    
    .btn:hover {
        background-color: none;
        color: white;
        border: none;
    }

    a {
        color: #796b6d;
        font-weight: bold;
        cursor: pointer;
    }
}
