<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand">WebShop Name</a>
  <a class="butonn" type="submit" (click)="goToLogin()">Login</a>
</nav>
<section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5">

                  <h3 *ngIf="name_test" class="mb-5 text-uppercase d-md-flex justify-content-center">User registration</h3>
                  
                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="name">Name</label>
                        <input  [(ngModel)]="user.name" type="text" class="form-control" id="name">
                        <small id="name" class="form-text text-muted"></small>
                    </div>
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="birth">Birth date</label>
                        <input [(ngModel)]="user.dateOfBirth" type="date" class="form-control" id="birth">
                        <small id="birth" class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="phone">Phone number</label>
                        <input type="text" [(ngModel)]="user.telephoneNo" class="form-control" id="phone">
                        <small id="phone" class="form-text text-muted"></small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="username">Username</label>
                        <input type="text" [(ngModel)]="user.username" class="form-control" id="username">
                        <small id="username" class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="user.email" class="form-control" id="email">
                        <small id="email" class="form-text text-muted"></small>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="Country">Country</label>
                        <input type="text" class="form-control" id="Country">
                        <small id="Country" class="form-text text-muted"></small>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="code">Postal code</label>
                        <input type="text" [(ngModel)]="user.postalCode" class="form-control" id="code">
                        <small id="code" class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="city">City</label>
                        <input type="text" [(ngModel)]="user.city" class="form-control" id="city">
                        <small id="city" class="form-text text-muted"></small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="street">Street name</label>
                        <input type="text" [(ngModel)]="user.street" class="form-control" id="street">
                        <small id="street" class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="number">Street number</label>
                        <input type="text" [(ngModel)]="user.streetNumber" class="form-control" id="number">
                        <small id="number" class="form-text text-muted"></small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="password">Password</label>
                        <input type="password" [(ngModel)]="user.password" class="form-control" id="password">
                        <small id="password" class="form-text text-muted"></small>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="passwordr">Password repeat</label>
                        <input type="password" class="form-control" id="passwordr">
                        <small id="passwordr" class="form-text text-muted"></small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="role">Role</label>
                        <select class="form-control" [(ngModel)]="user.role" id="role">
                          <option>Admin</option>
                          <option>Customer</option>
                        </select>
                        <small id="role" class="form-text text-muted"></small>
                    </div>
                  </div>
  
                  <div class="d-flex justify-content-center pt-3">
                    <button type="button" class="btn btn-lg">Reset all</button>
                    <button type="button" class="btn btn-lg ms-2" (click)="register()">Register</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>