* {
    color: #847577;
}

.form-control:focus {
    border-color: #796b6d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(132, 117, 119, 0.75);
}

.form-check-input:focus {
    border-color: #796b6d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(132, 117, 119, 0.75);
}

.form-check-input {
    background-color: #CFD2CD;
    border: #CFD2CD;
}

.btn {
    font-size: 18px;
    background-color: #796b6d;
    width: 30%;
    color: white;
}

.btn:hover {
    background-color: #CFD2CD;
    color: #796b6d;
}


.navbar {
    background-color: #E5E6E4;
    padding: 10px;
    .butonn {
        font-size: 16px;
        background-color: none;
        color: #796b6d;
        padding-right: 20px;
        padding-left: 20px;
        border: none;
        font-weight: normal;
        text-decoration: none;
    }
    
    .butonn:hover {
        background-color: none;
        color: white;
        border: none;
    }

    a {
        color: #796b6d;
        font-weight: bold;
        background-color: none;
    }
}
