<div class="heading">
  <h4 *ngIf="!isMy">Products</h4>
  <button class="btn" *ngIf="!isMy" (click)="seePurchased()">Purchased</button>
</div>

<div class="page" *ngIf="!isMy">
    <div class="card mb-3" *ngFor="let product of products">
        <div class="card-header">{{product.price}} &#x20AC;	</div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
        <hr>
        <button (click)="goToPayment(product.id, product.price)">Buy</button>
    </div>
</div>


<div class="heading">
  <h4 *ngIf="isMy">My products</h4>
  <button class="btn" *ngIf="isMy" (click)="seeAll()">Products</button>
</div>
<div class="page" *ngIf="isMy">
    <div class="card mb-3" *ngFor="let my of myProducts">
        <div class="card-header">{{my.price}} &#x20AC;	</div>
        <div class="card-body">
          <h5 class="card-title">{{my.name}}</h5>
          <p class="card-text">{{my.description}}</p>
        </div>
    </div>
</div>


