<p><button (click)="closeDialog()" >X</button></p>
<div class="page">
    <i class="fa-solid fa-cart-shopping"></i>
    <mat-dialog-content>
        <mat-card>
            <mat-card-content>
                <button>X</button>
                Gold Product - 20e
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <button>X</button>
                Gold Product - 20e
            </mat-card-content>
        </mat-card>
        <div class="buttons">
            <button class="empty">Empty cart</button>
            <button>Go to Payment</button>
        </div>
    </mat-dialog-content>    
</div>
